models/action_models
models/discard_models
models/full_action_models
models/full_discard_models
models/simple_action_models
models/simple_discard_models
models/total_models
models/total_single_models
models/ppo_models
useless
results/game_results
results/tests
logs
stats
monitor_outputs